.landing-header {
  height: 300px;
  background-color: rgb(167, 137, 104);
  background-image: url("https://res.cloudinary.com/dy7eycl8m/image/upload/v1600622071/pngwave_49_uvoxyj.png");
  text-align: center;
  color: white;
  .main-logo {
    height: 150px;
  }
}

.start-button {
  position: fixed;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  width: 150px;
  background-color: yellow;
  z-index: 10;
  text-decoration: none;
  border-radius: 7px;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 0 10px white;
  }
}


// LOWER PAGE MOUSEMOVE EFFECT

.left-view {
  background: brown;
  height: 400px;
  float: left;
  overflow: hidden;
  z-index: 1;
  white-space:nowrap;
  transition: all 0.5s ease;

  .character-flex {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow: hidden;
  
    .characters {
      width: 200px;
    }
  }
}


.right-view {
  background: yellow;
  z-index: -2;
  height: 400px;
  width: 100vw;  

.card-image {
  width: 200px;
}
}






